@charset "utf-8";
/* rem setting */
@media (max-width:288px){html{font-size:8px;}}
@media (min-width:289px) and (max-width:324px){html{font-size:9px;}}
@media (min-width:325px) and (max-width:360px){html{font-size:10px;}}
@media (min-width:361px) and (max-width:396px){html{font-size:11px;}}
@media (min-width:397px) and (max-width:432px){html{font-size:12px;}}
@media (min-width:433px) and (max-width:468px){html{font-size:13px;}}
@media (min-width:469px) and (max-width:504px){html{font-size:14px;}}
@media (min-width:505px) and (max-width:540px){html{font-size:15px;}}
@media (min-width:541px) and (max-width:576px){html{font-size:16px;}}
@media (min-width:577px) and (max-width:612px){html{font-size:17px;}}
@media (min-width:613px) and (max-width:648px){html{font-size:18px;}}
@media (min-width:649px) and (max-width:684px){html{font-size:19px;}}
@media (min-width:685px) and (max-width:720px){html{font-size:20px;}}
@media (min-width:721px) and (max-width:756px){html{font-size:21px;}}
@media (min-width:757px) and (max-width:792px){html{font-size:22px;}}
@media (min-width:793px) and (max-width:828px){html{font-size:23px;}}
@media (min-width:829px) and (max-width:864px){html{font-size:24px;}}
@media (min-width:865px) and (max-width:900px){html{font-size:25px;}}
@media (min-width:901px){html{font-size:26px;}}

body, table, input, button, textarea, select{
    font-family:돋움, Dotum, Arial, Helvetica, sans-serif;
}
body{
    overflow-x:hidden;
    overflow-y:auto;
    background:#e6e6e6;
    font-size:14px;
    font-size:1.4rem;
    min-width:320px;
    margin:0;
}
body.expanded{
    /*overflow:hidden; removed due to galaxy s1 bug*/
}
body.ios{
    overflow:hidden;
}
img{
    max-width:100%;
    /*height:auto;*/
}
p,
dd{
    margin:0;
}

/* leaf */
.leaf{
    min-width:280px;
    max-width:1024px;
    padding:0 3.334%;
    width:93.334%;
    height:100%;
    position:absolute;
    left:0;
    overflow-x:visible;
}

/* item */
.item{
    margin-bottom:2.085%;
    position:relative;
    background:#fff;
    opacity:1;
}
.item>.wrap{
    color:#000;
    text-decoration:none;
    display:block;
    position:relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.item.selected{
    overflow-y:visible;
}
/* item header */
.item-header{
    height:100%;
    padding:0 0 10.12% 0;
    bottom:0;
    background-color:#e6e6e6;
}
.selected .item-header{
    padding:0 0 22.325% 0;
    background-color:#fff;
    border-top: 1.1rem solid #e6e6e6;
}
.item-header>h2 {
    position: absolute;
    width: 100%;
    margin: 0;
    line-height: 100%;
    font-size: 1.5rem;
    letter-spacing: -0.07rem;
    text-align: center;
    top: 3.793%;
}
.selected .item-header>h2{
    display:none;
}
.expand .item-header>h2{
    top:2.37%;
}

.point-info-before strong,
.point-info-after strong{
    color:#e96830;
    text-decoration:underline;
}

.point-info-before,
.point-info-after{
    font-size:1.2rem;
    overflow:hidden;
    text-align:center;
    line-height:3em;
    width:100%;
    position:absolute;
    display:none;
}
.selected.complete .point-info-before{
    display:none;
}
.selected.complete .point-info-after,
.selected .point-info-before{
    display:block;
}

/* pagenation */
.item-header .pagination{
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 10;
    top: 8%;
    height: 6%;
    display:none;
}
.selected .item-header .pagination{
    display:block;
}
.item-header .pagination>button{
    width: 2.98%;
    height: 49.35%;
    top: 18.2%;
    border: 0;
    position: absolute;
    color:transparent;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
}
.item-header .pagination>.prev{
    left:16.37%;
    background-image:url("../img/prev_disabled.png");
    background-position-x:0;
}
.item-header .pagination>.next{
    right:16.37%;
    background-image:url("../img/next_disabled.png");
    background-position-x:100%;
}
.item-header .highlight.pagination>.next{
    right:16.37%;
    background-image:url("../img/next_enabled.png");
    background-position-x: 100%;
}
.item-header .shift.pagination>.prev{
    background-image:url("../img/prev_enabled.png");
}
.item-header .shift.pagination>.next{
    background-image:url("../img/next_disabled.png");
}
.item-header .pagination>ol{
    list-style: none;
    margin: 0;
    padding: 0;
    left: 24%;
    right: 24%;
    position: absolute;
    top: 0;
}
.item-header .pagination .thumb-list-first,
.item-header .shift.pagination .thumb-list-second{
    display:block;
}
.item-header .pagination .thumb-list-second{
    display:none;
}
.item-header .shift.pagination .thumb-list-first{
    display:none;
}
.item-header .pagination ol{
    height:100%;
}
.item-header .pagination li{
    border:1px solid #cbcbcd;
    vertical-align:middle;
    display:none;
    position:relative;
}
.item-header .pagination li>span{
    display:block;
    width:100%;
    height:100%;
    overflow:hidden;
}
.item-header .pagination li>strong{
    position: absolute;
    background: #f56f10;
    padding: 0 11%;
    height: 88.8%;
    border-radius: 50px;
    text-align: center;
    color: #fff;
    top: -37.2%;
    right: -45%;
    font-size: 1rem;
    line-height: 2.5rem;
}
.item-header .pagination .thumb{
    width: 16.27%;
    height: 81.85%;
    display:inline-block;
}
.item-header .pagination .active{
    width: 15.67%;
    height: 78.8%;
    border:0.15em solid #ff700d;
}

.item-header .pagination .active:after {
    content: '';
    position: absolute;
    border: 0.4em solid transparent;
    border-top-color: #ff700d;
    border-bottom: 0;
    left: 0;
    right: 0;
    bottom: -0.6rem;
    margin: 0 auto;
    width: 0;
    height: 0;
    overflow: hidden;
}
.item-header .pagination img{
    width:2em;
    height:2em;
}

/* item-body */
.item-body{
    position:relative;
    height:0;
    padding:66.37% 0 0% 0;
    border:0.4em solid #ffffff;
    box-shadow:0 0 3px rgba(0,0,0,.3);
    overflow:hidden;
}
.complete .item-body{
    background-color:#000;
}
.complete.expand .item-body{
    background-color:#fff;
}
.expand .item-body {
    padding: 148.81% 0 0 0;
    /*padding: 115% 0 0 0;*/
    box-shadow:none;
}

.expanded .item-body .check{
    display:block;
}

.item-body .check{
    width:100%;
    height:9%;
    position:absolute;
    top:0;
    z-index:10;
    font-size:1.2rem;
    display:none;
}
.check .check-bg{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: #000000;
    z-index: 5;
}
.check .check-visit,
.check .check-barcode{
    width: 43%;
    position: absolute;
    top: 10%;
    height: 80%;
    border-radius:2em;
    white-space: nowrap;
}
.check .check-visit:before,
.check .check-barcode:before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.check .check-visit{
    left: 5%;
    background-color: #3ac070;
}
.check .check-barcode{
    right: 5%;
    background-color: #58cce1;
}

.check .check-visit img,
.check .check-barcode img{
    width: 2em;
    height: 2em;
    margin-left: 1%;
    vertical-align: middle;
}
.check span{
    display:inline-block;
    vertical-align: middle;
    color:yellow;
    position: relative;
}
.check span.check-title{
    color:#fff;
}

.check .check-visit span strong,
.check .check-barcode span strong{
    text-decoration:underline;
}
.check .check-visit .check-visit-after,
.check .check-visit.after .check-visit-before,
.check .check-barcode .check-barcode-after,
.check .check-barcode.after .check-barcode-before{
    display:none;
}
.check .check-barcode.after .check-barcode-after,
.check .check-visit.after .check-visit-after{
    display:initial;
}

.item-body .prev-img,
.item-body .next-img{
    position: absolute;
    left:0;
    top:40%;
    z-index:10;
    width:11.66%;
    height:7.6%;
    padding:0;
    opacity:0;
    line-height:10rem;
    border:none;
    color:transparent;
    background-color:rgba(0,0,0,0.3);
    background-repeat:no-repeat;
    background-size: contain;
}
.item-body .prev-img{
    left:0;
    background-image: url("../img/button_left.png");
}
.item-body .next-img{
    left:88.348%;
    background-image: url("../img/button_right.png");
}
.selected .item-body .prev-img,
.selected .item-body .next-img{
    display:block;
    opacity: 1;
}
.enable-anim .item-body .prev-img,
.enable-anim .item-body .next-img{
    -webkit-transition:opacity 1s;
}

.item-body-list{
    top:0;
    width:100%;
    padding:0;
    margin:0;
    position:absolute;
    list-style:none;
}

.complete .item-body-list{
    opacity:0.7;
}
.complete.expand .item-body-list{
    opacity:1;
}

/* item-body border-bottom for adaptive height */
.item-body-button:before{
    content: '';
    border-bottom: 0.35em solid #fff;
    height: 0;
    left:3.334%;
    right:3.334%;
    position:absolute;
    top:-0.35em;
    opacity:0;
}
.expanded .selected .item-body-button:before{
    opacity:1;
}

.item-body-listitem{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    background-color:#ffffff;
    display:none;
}
.item-body-listitem:first-of-type{
    display:block;
}
.enable-anim .item-body-listitem.display{
    display:block;
}

.item-body-listitem img{
    position: relative;
    width: 100%;
}

.item-info{
    position:relative;
    overflow:hidden;
    font-size:1.2rem;
    height:100%;
    width:100%;
    top:0;
    left:0;
    padding: 0;
    display:none;
}
.expanded .item-info{
    height:15%;
    display:block;
}

.item-body-button{
    position: fixed;
    left:0;
    bottom:0;
    width:100%;
    z-index:20;
    font-size:1.5rem;
    background-color:#e6e6e6;
    display:none;
    /*visibility:hidden;*/
}
.selected .item-body-button{
    padding-top: 18.336%;
    width:100%;
    display:block;
    /*visibility:visible;*/
}
.item-body-button input{
    position: absolute;
    width: 30%;
    height: 62.13%;
    color: #fff;
    background-color: #f87c70;
    border-radius: 0.35em;
    border: none;
    padding: 0;
    margin: 0;
    bottom: 15%;
    font-size: 1.5rem;
}
.item-body-button .btn-call{
    left:3.334%;
}
.item-body-button .btn-view{
    left:35%;
}
.item-body-button .btn-scrap{
    left:66.667%;
}

/* item footer */
.item-footer{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    padding:14.29% 0 0 0;
}
.enable-anim .item-footer{
    background-color:transparent;
}
.expand .item-footer{
    /*padding:75% 0 0 0;*/
    top:0;
    bottom:0;
    -webkit-transform:translateY(50%);
    background-color:#e6e6e6;
    border-top:0.35em solid #fff;
}

/* Coupon */
.item-coupon{
    padding:0.8rem;
}
.coupon-desc{
    border:1px solid #ececec;
    border-radius:.3rem;
    overflow:hidden;
    padding:.9rem 1.2rem .9rem 11rem;
    position:relative;
    min-height:9rem;
    margin:0 0 1rem 0;
}
.coupon-desc>.thumb{
    width:9rem;
    height:9rem;
    overflow:hidden;
    position:absolute;
    top:.9rem;
    left:1.2rem;
}
.coupon-desc>.thumb>img{
    width:100%;
    height:auto;
}
.coupon-desc>h2{
    font-size:1.7rem;
    line-height:2.1rem;
    margin:0 0 .8rem 0;
    color:#444;
}
.coupon-desc>.price{
    font-size:1.7rem;
    font-weight:bold;
    color:#f24b4e;
    margin:0 0 .4rem 0;
}
.coupon-desc>dl{
    font-size:1.2rem;
    line-height:2rem;
    margin:0;
}
.coupon-desc dt,
.coupon-desc dd{
    float:left;
}
.coupon-desc dt{
    color:#999;
    clear:left;
    width:5em;
}
.coupon-desc dt{
    color:#666;
    margin:0;
}
.btn-coupon{
    width:20.6rem;
    height:4.1rem;
    font-size:1.5rem;
    font-weight:bold;
    color:#fff;
    background:#f8a900;
    box-shadow:0 0 0 #f0a400 inset;
    border:0;
    border-radius:.5rem;
    display:block;
    margin:0 auto;
}
.btn-coupon:before{
    content:'';
    background:url(../img/icon.coupon.down.png) no-repeat;
    background-size:contain;
    display:inline-block;
    vertical-align:middle;
    width:2rem;
    height:1.6rem;
    margin:0 1rem 0 0;
    position:relative;
    top:-.25rem;
}
.item-coupon>h3{
    line-height:3.1rem;
    margin:1rem 0 0 0;
    font-size:1.3rem;
    color:#444;
    border-bottom:1px solid #f2f2f2;
}
.item-coupon>ul{
    list-style:none;
    margin:0;
    padding:.8rem 0;
    color:#444;
    font-size:1.3rem;
    line-height:2rem;
}
.item-coupon>ul img{
    display:block;
    max-width:100%;
    height:auto;
    margin:.6rem 0;
}
.item-coupon>ul a{
    color:#444;
}

/* no animation */
.no-anim {

}